.windowBlur {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 40vw;
  min-height: 40vh;
  background-color: #ffffff;
  border-radius: 10px;
  border: 3px solid #223d92;
  padding: 2vh 2vw;
}

.closeModalWindow {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
}

.modalWindowAwaitingContainer {
  width: 100%;
  margin: 15vh 0;
  font-size: 30;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalWindowAwaitingText {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.modalWindowLoader {
  width: 70px;
  height: 70px;
  border: 7px solid #fff;
  border-bottom-color: #223d92;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
