.parcelCard {
  margin-top: 10px;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  background-color: #657dca;
  border-radius: 4px;
}

.parcelsCardMultiRow {
  width: 100%;
  display: flex;
}

.parcelCardRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.parcelCardFieldPair {
  width: 100%;
}

.parcelCardIcon {
  margin-top: 30px;
  margin-right: 10px;
}

.pracelCardFieldSmall {
  width: 40%;
  margin-bottom: 5px;
}

.pracelCardFieldMedium {
  width: 55%;
  margin-bottom: 5px;
}

.parcelCardFieldLabel {
  color: #fff;
  font-weight: 600;
  margin-bottom: 5px;
}

.parcelCardDiametersField {
  display: flex;
  align-items: center;
}

.parcelCardDiametersDelimiter {
  padding: 0 5px;
}

.pracelCardFieldDate {
  width: 48%;
}
