.button {
  border: 0;
  background-color: #223d92;
  width: 100%;
  height: 50px;
}

.buttonContent {
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
}

.addIcon {
  height: 30px !important;
}

.buttonText {
  margin-top: 1px;
  margin-left: 10px;
}
