.deliveryOptionHeader {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}

.deliveryOptionContentRow {
  display: flex;
}

.deliveryOptionContentRowSmall {
  display: flex;
  justify-content: space-around;
}

.deliveryOptionContentRowColumn {
  width: 50%;
}

.deliveryOptionButtonContainer {
  margin-left: 220px;
  margin-top: 30px;
}

.deliveryOptionNextButton {
  background-color: #223d92;
  border: 0;
  border-radius: 6px;
  padding: 25px 35px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-right: 30px;
}

.deliveryOptionBackButton {
  background-color: #b5b5b5;
  border: 0;
  border-radius: 6px;
  padding: 25px 35px;
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

.deliveryOptionDimensionsInput {
  display: flex;
  align-items: center;
}

.deliveryOptionDimensionsDelimiter {
  margin: 10px 5px 0;
}

.deliveryOptionMarginLeft {
  margin-left: 40px;
}

.deliveryOptionFieldContent {
  padding-bottom: 10px;
  border-bottom: 1px solid #223d92;
  margin-bottom: 10px;
  margin-right: 40px;
}

.deliveryOptionFieldContentSmall {
  margin: 8px 0;
}

.deliveryOptionTableHeader {
  box-sizing: border-box;
  width: 21vw;
  border: 1px solid rgba(0, 0, 0, 0.87);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.deliveryOptionTableContent {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.87);
  border-top: none;
  width: 21vw;
  height: 19vh;
}

.deliveryOptionSoloButton {
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  border: none;
}

.deliveryOptionDualButtons {
  box-sizing: border-box;
  width: 50%;
  background-color: #b5b5b5;
  border: none;
}

.deliveryOptionTripleButtons {
  box-sizing: border-box;
  width: 33.3333333333%;
  background-color: #b5b5b5;
  border: none;
}

.deliveryOptionVerticalLine {
  width: 1px;
  background-color: black;
  height: 100%;
  float: left;
  height: 42px;
}

.deliveryOptionSelectedOption {
  background-color: #fff;
}
