@import '~leaflet/dist/leaflet.css';

.parcelInputHeader {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}

.parcelInputContent {
  display: flex;
}

.parcelInputSingle {
  margin-right: 30px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #223d92;
}

.parcelCardDimensionsInput {
  display: flex;
  align-items: center;
}

.parcelCardDimensionsDelimiter {
  margin: 10px 5px 0;
}

.parcelInputMap {
  height: 27vh;
  width: 18vw;
  border: 1px solid #223d92;
  border-radius: 2px;
  margin-left: 20px;
  z-index: 10;
}

.parcelInputNextButton {
  background-color: #223d92;
  border: 0;
  border-radius: 6px;
  padding: 25px 35px;
  transform: translate(-50%, 0);
  margin-left: 50%;
  margin-top: 30px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.parcelInputNextButtonDisabled {
  background-color: #b8b8b8;
}
