.parcelsColumn {
  height: 96vh;
  width: 40vw;
  border-radius: 5px;
  background-color: #a0a6b8;
  padding: 3vh 2vw;
  box-sizing: border-box;
}

.parcelsColumnRow {
  display: flex;
  justify-content: space-between;
}

.parcelColumnHeader {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

.parcelColumnIconButton {
  background: none;
  border: none;
}

.parcelsColumnFiltering {
  display: flex;
  justify-content: space-between;
  width: 34vw;
}

.parcelsColumnFilterLabel {
  color: #fff;
  font-size: 18px;
}

.parcelsColumnDatePicker {
  width: 20vw;
  background-color: #fff;
  margin-top: 33px;
  border-radius: 4px;
}

.parcelColumnCardsContainer {
  height: 85vh;
  overflow-y: scroll;
}

.parcelColumnCardsContainerShort {
  height: 73vh;
}
